.custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px !important;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 7px;
  background: #4f5561;
  border-radius: 0;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: skewX(-20deg); /* Tilt the sides */
}

.swiper-pagination-bullet-active {
  width: 30px;
  background: #0097b2;
}

@media screen and (max-width: 1000px) {

  .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    background: #0097b2;
  }
  
}
