@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Model CSS */
/* components/Modal.css or your global CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 1.8em;
  margin: 0;
}

.modal-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.modal-buttons button:last-child {
  background-color: #dc3545; /* Use a red color for the cancel button */
}

.modal-buttons button:last-child:hover {
  background-color: #c82333; /* Darker red on hover */
}

.Toastify__toast--success {
  background-color: White !important;
  color: #0097b2 !important;
}
.Toastify__progress-bar--success {
  background-color: #0097b2 !important; /* Change success progress bar */
}

.Toastify__toast--error {
  background-color: white !important;
  color: #e78169 !important;
}
.Toastify__progress-bar--error {
  background-color: #ff5733 !important; /* Error Toast */
}

.custom-toast {
  font-size: 16px;
  border-radius: 8px;
}
